<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Jose Blog</title>
</head>
	<body>
		<div>
			<h1><a href="/">Jose blog</a></h1>
		</div>
		<div>
			<p>Published: 14.06.2019, 12:16</p>
			<h2><a href="">Post 1</a></h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cum quo illo sapiente tenetur, quia assumenda magni rerum dicta temporibus eaque excepturi consequatur totam enim tempora sit laborum et delectus.</p>
		</div>
		<div>
			<p>Published: 14.08.2019, 08:16</p>
			<h2><a href="">Post 1</a></h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cum quo illo sapiente tenetur, quia assumenda magni rerum dicta temporibus eaque excepturi consequatur totam enim tempora sit laborum et delectus.</p>
		</div>
	</body>
</html>